<div class="spacer-lg-after-text" aria-hidden="true"></div>
<div class="gallery_social_media">
    <div class="social_media_image">
        <a href="mailto:tildaroseillustration@gmail.com">
            <img src="../assets/branding/Social Media Icons/Rounded/Email-Icon-Rounded-Square.jpg">
        </a>
    </div>
    <div class="social_media_image">
        <a href="https://www.instagram.com/tildaroseillus/">
            <img src="../assets/branding/Social Media Icons/Rounded/Instagram-Icons-Rounded.jpg">
        </a>
    </div>
    <div class="social_media_image">
        <a href="https://www.behance.net/tildarose">
            <img src="../assets/branding/Social Media Icons/Rounded/Behance-Icon-Rounded-Square.jpg">
        </a>
    </div>
    <div class="social_media_image">
        <a href="https://www.facebook.com/tildaroseillustration">
            <img src="../assets/branding/Social Media Icons/Rounded/Facebook-Icon-Rounded-Square.jpg">
        </a>
    </div>
    <div class="social_media_image">
        <a href="https://www.pinterest.com/tildaroseillus/">
            <img src="../assets/branding/Social Media Icons/Rounded/Pinterest-Icon-Rounded-Square.jpg">
        </a>
    </div>
</div>
<div class="" aria-hidden="true"></div>
